body {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-generator button {
    font-size: 1.5rem;
}

.color {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}